# hash to comment
# use this file to define what’s to be ignored by git

# ignore autosaves
*~
# ignore old autosaves
*.asv

# ignore the add folder
add/
# ignore the shell which is supposed to update (and others)
run_update.sh
copy_to_ppp.sh
.DS_Store

